In [1]:
import pandas as pd
import datetime as dt

from pandas_datareader import data

In [2]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2022-01-01" , end="2023-01-01")

In [4]:
stocks

               Open     High       Low    Close        Volume
Date
2022-12-30  238.210  239.960  236.6600  239.820  2.193847e+07
2022-12-29  235.650  241.920  235.6500  241.010  1.977069e+07
2022-12-28  236.890  239.720  234.1700  234.530  1.745710e+07
2022-12-27  238.700  238.930  235.8300  236.960  1.668865e+07
2022-12-23  236.110  238.870  233.9428  238.730  2.120698e+07
...             ...      ...       ...      ...           ...
2022-01-07  311.233  313.565  307.2110  311.123  3.302661e+07
2022-01-06  310.240  315.739  308.6010  310.964  4.001764e+07
2022-01-05  322.837  323.046  313.0490  313.446  4.042964e+07
2022-01-04  331.723  332.090  323.0950  325.954  3.298047e+07
2022-01-03  332.239  334.859  326.7190  331.643  2.918898e+07

[251 rows x 5 columns]

In [3]:
stocks.values

array([[2.38210000e+02, 2.39960000e+02, 2.36660000e+02, 2.39820000e+02,
        2.19384720e+07],
       [2.35650000e+02, 2.41920000e+02, 2.35650000e+02, 2.41010000e+02,
        1.97706930e+07],
       [2.36890000e+02, 2.39720000e+02, 2.34170000e+02, 2.34530000e+02,
        1.74571040e+07],
       ...,
       [3.22837000e+02, 3.23046000e+02, 3.13049000e+02, 3.13446000e+02,
        4.04296424e+07],
       [3.31723000e+02, 3.32090000e+02, 3.23095000e+02, 3.25954000e+02,
        3.29804700e+07],
       [3.32239000e+02, 3.34859000e+02, 3.26719000e+02, 3.31643000e+02,
        2.91889798e+07]])

In [9]:
stocks.index

DatetimeIndex(['2022-12-30', '2022-12-29', '2022-12-28', '2022-12-27',
               '2022-12-23', '2022-12-22', '2022-12-21', '2022-12-20',
               '2022-12-19', '2022-12-16',
               ...
               '2022-01-14', '2022-01-13', '2022-01-12', '2022-01-11',
               '2022-01-10', '2022-01-07', '2022-01-06', '2022-01-05',
               '2022-01-04', '2022-01-03'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [8]:
time1= pd.Timestamp('2022-02-15')
time1

Timestamp('2022-02-15 00:00:00')

In [6]:
time2= pd.Timestamp('2022-02-17')

In [7]:
time1-time2

Timedelta('-2 days +00:00:00')

In [10]:
time1 + 3

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`