In [14]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")

In [16]:
df.index

RangeIndex(start=0, stop=721, step=1)

In [17]:
df.axes

[RangeIndex(start=0, stop=721, step=1),
 Index(['Pokemon', 'Type'], dtype='object')]

In [18]:
df.columns

Index(['Pokemon', 'Type'], dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pokemon  721 non-null    object
 1   Type     721 non-null    object
dtypes: object(2)
memory usage: 11.4+ KB

In [22]:
#  column select

df["Pokemon"]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [23]:
#  selecting two column [[]]
df[ [ "Pokemon","Type" ]]

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [10]:
# inserting new columns = > df[col] =

In [11]:
# using insert method

In [12]:
# using exisiting columns

In [13]:
# value_counts method to check value occurance