In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("userfoods.csv")

In [4]:
df.head(4)

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01

In [5]:
df.pivot(index="Gender" , columns="Item" , values="Spend")

ValueError: Index contains duplicate entries, cannot reshape

In [8]:
df.pivot_table(index="Gender", values="Spend", aggfunc="sum",columns="Item")

Item     Burger  Burrito  Chalupa    Donut  Ice Cream    Sushi
Gender
Female  4094.30  4257.82  4152.26  4743.00    4032.87  4683.08
Male    3671.43  4012.62  3492.26  4015.76    4854.12  4059.85

In [9]:
df.pivot_table(index=["Gender","Item"], values="Spend", aggfunc="sum")

                    Spend
Gender Item
Female Burger     4094.30
       Burrito    4257.82
       Chalupa    4152.26
       Donut      4743.00
       Ice Cream  4032.87
       Sushi      4683.08
Male   Burger     3671.43
       Burrito    4012.62
       Chalupa    3492.26
       Donut      4015.76
       Ice Cream  4854.12
       Sushi      4059.85