In [1]:
!pip install faker 
!pip install mysql-connector-python
# !pip install PyMySQL

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: faker in c:\users\miles\appdata\roaming\python\python310\site-packages (16.4.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\miles\appdata\roaming\python\python310\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\miles\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\miles\appdata\roaming\python\python310\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\miles\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (3.20.1)

In [2]:
from faker import Faker
import random
import mysql.connector as mysql
import os
from pymysql import connect

In [3]:
# Connect to the database

mydb = mysql.connect(
    host='localhost',
    database='airportdb', 
    user='root', 
    password='root',
    port=3307
    )
mydb

In [4]:
# Create a cursor object
mycursor = mydb.cursor()
mycursor

In [38]:
# Create the country table
mycursor.execute("CREATE TABLE country (iata_country_code CHAR(2) PRIMARY KEY, name VARCHAR(45))")

ProgrammingError: 1050 (42S01): Table 'country' already exists

In [ ]:
# Create the client table
mycursor.execute("CREATE TABLE client (client_id INT PRIMARY KEY, first_name VARCHAR(45) NOT NULL, middle_name VARCHAR(45), last_name VARCHAR(45) NOT NULL, phone VARCHAR(45) UNIQUE, email VARCHAR(45) NOT NULL, passport VARCHAR(45) UNIQUE, iata_country_code CHAR(2), CONSTRAINT fk_country_code FOREIGN KEY (iata_country_code) REFERENCES country(iata_country_code) ON UPDATE CASCADE)")

In [ ]:
# Create the airport table
mycursor.execute("create table if not exists airport(iata_airport_code char(3) primary key,name varchar(45) not null,city varchar(45) not null,iata_country_code char(2),constraint fk_country_code_airport foreign key(iata_country_code) references country(iata_country_code) on update cascade);")

In [7]:
country_codes = ["US", "CA", "MX", "BR", "CN", "IN", "PK", "NG", "RU", "ID"]

In [ ]:
# fake = Faker()
# for _ in range(5):
#     print( fake.random_letter())

G
F
z
Y
t

In [5]:
Faker = Faker()

In [13]:
# insert data into the airport table

for _ in range(10):
    iata_airport_code = Faker.random_letter() + Faker.random_letter() + Faker.random_letter()
    name = Faker.city()
    city = Faker.city()
    iata_country_code = Faker.random_element(country_codes)
    # print( iata_airport_code, name, city, iata_country_code)
    sql_airport = "INSERT INTO airport (iata_airport_code, name, city, iata_country_code) VALUES (%s, %s, %s, %s)"
    val_airport = (iata_airport_code, name, city, iata_country_code)
    mycursor.execute(sql_airport, val_airport)
mydb.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`airportdb`.`airport`, CONSTRAINT `fk_country_code_airport` FOREIGN KEY (`iata_country_code`) REFERENCES `country` (`iata_country_code`) ON UPDATE CASCADE)